body {
    background: #201E35;
    font-family: Inter;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

/*CV*/
    .cv {
        background: #2A2840;
        width: 50%;
        padding-left: 20px;
        border-radius: 20px;
        padding-right: 20px;


        .cv-first-text,
        .skills__list,
        .education__text,
        .contact__text,
        .work__text,
        .networks__text {
            border-radius: 20px;
            background: #201E35;
            margin-top: 1em;
        }

        .cv-image {
            width: 204px;
            height: 189px;
            padding-top: 20px;
        }

        h2 {
            color: #5865F2;
            border-radius: 20px;
            text-align: right;
            padding-right: 20px;
            padding-top: 10px;
        }

        p {
            color: #FFFFFF;
            border-radius: 20px;
            margin-left: 1em;
            padding-bottom: 20px;

            a:visited {
                color: white;
                background-color: transparent;
                text-decoration: none;
            }
            a:hover {
                 color: orange;
                 background-color: transparent;
                 text-decoration: underline;
            }
            a:active {
                color: #5865F2;
                background-color: transparent;
                text-decoration: underline;
            }
        }

        span {
            color: #5865F2;
            font-weight: 500;
        }
    }

/*Form*/
    .feedback-form {
        width: 500px;
        height: 320px;
        background: #FFFFFF;
        border-radius: 20px;
        padding: 25px;

        .flex-column {
            display: flex;
            flex-direction: column;
        }

        input {
            width: 455px;
            height: 167px;

            background: #FFFFFF;
            border: 3px solid #000000;
            border-radius: 10px;
            padding: 0 20px;
        }

        ::placeholder {
          font-weight: 700;
          font-size: 17px;
          line-height: 18px;
          color: #818181;
          transform: translateY(-70px) translateY(80%);
        }

        button {
            width: 210px;
            height: 38px;

            background: #04FFC3;
            border-radius: 10px;
            border: none;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            color: #000000;

            margin-top: 20px;
        }
    }
}

